{{- $scope := default "homepage" .Scope -}}
{{- $context := .Context -}}
{{- with (index .Context.Site.Params.widgets $scope) -}}

    <aside class="sidebar right-sidebar sticky">
        <div class="announce">
            <p><strong style="color: #e99312;">📢State：</strong><br>
                Slowly Update .😓            
            </p>
 
         </div>
        {{ range $widget := . }}
            {{ if templates.Exists (printf "partials/widget/%s.html" .type) }}
                {{ partial (printf "widget/%s" .type) (dict "Context" $context "Params" .params) }}
            {{ else }}
                {{ warnf "Widget %s not found" .type }}
            {{ end }}
        {{ end }}
    </aside>
    {{ end }}